# Eclipse #
.classpath
.project
.settings/

#class files #
*.class

# Package Files #
*.jar
*.war
*.ear

#log files #
*.log

# Maven
log/
target/

#other #
RemoteSystemsTempFiles/
Servers/
.metadata/
.recommenders/
CarShopClient/
predictions*
RestTest/